div{
    background-color: aqua;
}
#paragraph{
    columns: red;
    background-color: rgb(119, 128, 128);
}
.lorem{
    color: brown;
}
.lorem2{
    color: royalblue;
    font-style: italic;
}
.item{
    font-size: larger;
    color: blue;
}